body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	font-size: 112.5%;
	margin-left: auto;
	margin-right: auto;
	max-width: 40em;
	width: 88%;
}  

/**
 * Form Styles
 */
label {
	display: block;
	font-weight: bold;
	margin-bottom: 0.5em;
}

.label-normal {
	font-weight: normal;
}

.description-date {
	color: #808080;
	font-size: 0.8em;
	font-weight: normal;
}

.supports-date .description-date {
    display: none;
}

input,
select {
	display: inline-block;
	font-size: 1em;
	margin-bottom: 1em;
	padding: 0.25em 0.5em;
	width: 100%;
}

[type="checkbox"],
[type="radio"] {
	margin-bottom: 0.5em;
	width: auto;
}

.button {
	background-color: #0088cc;
	border: 1px solid #0088cc;
	border-radius: 1px;
	color: #ffffff;
	display: inline-block;
	font-size: 0.9375em;
	font-weight: normal;
	line-height: 1.2;
	margin-right: 0.3125em;
	margin-bottom: 0.3125em;
	padding: 0.5em 0.6875em;
	width: auto;
}

.button:active,
.button:focus,
.button:hover {
	background-color: #005580;
	border-color: #005580;
	color: #ffffff;
	text-decoration: none;
}

.button:active {
	box-shadow: inset 0 0.15625em 0.25em rgba(0, 0, 0, 0.15), 0 1px 0.15625em rgba(0, 0, 0, 0.05);
}

/**
 * Errors
 */
.error {
	border-color: red;
}

.error-message {
	color: red;
	font-style: italic;
	margin-bottom: 1em;
}

.pulseError {
  /*margin:13px;*/
/*   display: block; */
	position: relative;
    right: 35px;
    bottom: 46px;
  	width: 22px;
  	height: 22px;
  	border-radius: 50%;
  	background: #71B3DA;
  	box-shadow: 0 0 0 rgba(204,169,44, 0.4);
  	animation: pulse 2s 30;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 92, 250, 0);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(0, 92, 250, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 92, 250, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(0, 92, 250, 1);
    box-shadow: 0 0 0 0 rgba(0, 92, 250, 1);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(0, 92, 250, 0);
      box-shadow: 0 0 0 10px rgba(0, 92, 250, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(0, 92, 250, 0);
      box-shadow: 0 0 0 0 rgba(0, 92, 250, 0);
  }
}